language: php

before_script:
  - php /home/travis/.phpenv/versions/5.3.27/bin/composer self-update  

php:
  - 5.3

script:
  - composer --version
  - phpunit --colors --bootstrap tests/autoloader.php tests/ 
  - pyrus install pear/PHP_CodeSniffer
  - phpenv rehash
  - phpcs --standard=Zend ./  