language: php

before_script:
  - curl http://getcomposer.org/installer | php
  - php composer.phar install --dev
  - composer install --dev

php:
  - 5.3

script:
  - composer --version
  - phpunit --bootstrap tests/autoloader.php tests/ 
  - pyrus install pear/PHP_CodeSniffer
  - phpenv rehash
  - phpcs --standard=Zend ./  