language: php

php:
  - 5.3

before_install:
  - php /home/travis/.phpenv/versions/5.3.26/bin/composer.phar self-update  

script:
  - phpunit --bootstrap tests/autoload.php tests/ 
  - pyrus install pear/PHP_CodeSniffer
  - phpenv rehash
  - phpcs --standard=Zend ./
 