language: php

php:
  - 5.3  

before_script:
  - composer install
  - composer self-update
  
script:
  - phpunit --bootstrap tests/autoload.php tests/ 
  - pyrus install pear/PHP_CodeSniffer
  - phpenv rehash
  - phpcs --standard=Zend ./
 